{% extends "layout.html" %}

{% block pageTitle %}
  Developer contributions
{% endblock %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Developer contributions",
        href: "/"
      },
      {
        text: "Upload your files"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% from "govuk/components/input/macro.njk" import govukInput %}
      {% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
      {% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}

      {% call govukFieldset({
        legend: {
          text: "Upload your developer contributions data",
          classes: "govuk-fieldset__legend--xl",
          isPageHeading: true
        }
      }) %}

      {{ govukFileUpload({
        id: "file-upload-1",
        name: "file-upload-1",
        label: {
          text: "Select your file(s)"
        },
        attributes: {
          "multiple": true
        }
      }) }}

      {% endcall %}

    </div>

    <div class="govuk-grid-column-one-third">

      <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related content
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a class="govuk-link" href="https://www.gov.uk/guidance/publish-your-developer-contributions-data">
                Publish your developer contributions data
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>
{% endblock %}
